<div class="col-6">
    <div class="card mt-3">
        <div class="card-body text-center">
            <h3>Post Title: <a href="/api/dashboard/edit/{{id}}">{{title}}</a></h3>
            <p>Date Created: {{format_date created_at}}</p>
        </div>
    </div>
</div>