{{!-- This is the login field for existing users --}}
<div class="row justify-content-center">
  <div class="col-md-3">
    <div class="card my-3">
      <div class="card-body">
        <h3 class="card-title">Existing User Login</h3>
        <form class="login-form">
          <div class="mb-3">
            <label for="email-login">Email:</label>
            <input class="form-control" type="email" id="email-login" />
          </div>
          <div class="mb-3">
            <label for="password-login">Password:</label>
            <input class="form-control" type="password" id="password-login" />
          </div>
          <div class="mb-3">
            <button class="btn btn-primary" type="submit">login</button>
            <a class="btn btn-primary" href="/signup" role="button">Not a Member? Click to Signup</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{!-- helper to do User login --}}
<script src="/js/login.js"></script>
